@font-face{
    font-family: "Plain Light";
    src: url(/Fonts/plain-regular-webfont.ttf);
}
@font-face{
    font-family: "Plain Light";
    src: url(/Fonts/plain-light-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./Fonts/silkserif-regularitalic-webfont.ttf);
}

@font-face {
    font-family: "silk serif";
    src: url(./Fonts/silkserif-lightitalic-webfont.ttf);
}
  


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plain Light";
    color:#fff;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
}
/* 
#crsr{
    height: 2vw;
    width: 2vw;
    border-radius: 50%;
    border: 1px solid #ffffff7d;
    position: fixed;
    z-index:999;
    mix-blend-mode: difference;
    transform:translate(-50%,-50%)
        
} */

.mousefollower{
    border: 2px solid #fff;
    background-color: rgb(255,255,255);
    scale: 2;
    mix-blend-mode: difference;
}

#loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line{
   height:fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#line1-part1 h5{
    width: 5vw;
    text-align: right;
}

#line1-part1 h5,#line1-part1 h6{
font-size: 3vw;
font-weight: 100;
font-family: "silk serif";
}

.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}

.line h2{
    font-size:5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 1s;   
    animation-iteration-count: infinite;    
}

@keyframes anime{
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }

    48%{
        font-family: "plain light";
        -webkit-text-stroke: 0.1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 0;

    }
    50%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #fff;
        color: #fff;
       font-weight: 500;
       opacity: 1;

    }
    100%{
        font-family: "silk serif";
        -webkit-text-stroke: 0.1px #fff;
        color:transparent;
        font-weight: 500;
        opacity: 0;
    }
}

#main{
    position: relative;
    background-color: #151515;
}

#page1{
    height: 100vh;
    width: 100%;
    /* background-color: #151515;   */
    position: relative;
    z-index: 100;
}

#page #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 0.8vw;
}

.hero{
/* background-color: red; */
width: 72%;
margin-left: 27%;
height: fit-content;
overflow: hidden;
display: flex;
align-items: center;
}

.hero:nth-child(2){
    margin-top: 18vh;
}

.hero h1{
    font-size: 7.2vw;
    font-weight: 600;
    text-transform: uppercase;
   line-height: 7.2vw;
   position: relative;
}

#hero1::before{
    content: "01";
    position: absolute;
    font-size: 2.7vw;
    font-weight: 100;
    font-family: "silk serif";
    left: 20%;
    top: 24%;
    background-color: red;
}

.hero h2{
    font-size: 7.2vw;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 7.2vw;
    border-bottom: 0.5vw solid #fff;
    padding-bottom: 0.7vw;
}

#hero3 h2:hover{
    -webkit-text-stroke: 2px #fff ;
    color: transparent;
    font-weight: 500;
    border-bottom: transparent;
}

#page2{
    height: 100vh;
    width: 100%;
    padding-top: 17vh;
    position: relative;
}

/* #video-container img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    top: 0;
} */

#video-container{
    height: 66vh;
    width: 71vw;
    position:relative;
    left: 28vw;
    background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
    background-size: cover;
    background-position: center;
}

#video-container video{
    height: 100%;
    width: 100%;
    object-fit: cover; 
    opacity: 0;   
}

#video-cursor{
    background-color:#FFA63D;
    height: 8vw;
    width: 8.5vw;
    border-radius:50%;
    position: absolute;  
    top:-10%;
    left: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

#video-cursor i{
    font-size: 2vw;
}

#page3{
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* background-color:rgb(63, 62, 62); */
    padding:17vh 2vw;
    margin-bottom: 20vh;
    margin-top: 20vh;
}

#page3 h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 28vw;
} 

#page3 h1::before{
        content: "02";
        position: absolute;
        font-size: 2.7vw;
        font-weight: 100;
        left: -12%;
        font-family: "silk serif";
        top: 8%;
} 

#page3 .underline{
    margin-left: 28vw ;
}
#image-div-container{
    /* background-color: red; */
    padding: 1vw;
    position: relative;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.image-div{
    height: 38vw;
    width: 27vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 2vw;
    /* background-color: blue; */

}

.image-div:nth-child(1){
    width: 27vw;
   height: 30vw;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; 
    position: relative;
    overflow: hidden;  
}


.page3-circle1{
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-left: 10vw;
    flex-shrink: 0;
    position: relative;


}

.page3-circle1 svg{
    height: 50%;
    color: white;

}
.page3-circle2{
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: 20vh; */
    /* margin-left: 10vw; */


}

.page3-circle2 svg{
    height: 50%;
    rotate: -45deg;
    color: white;

}

.circle-in{
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    /* color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
   transition: all ease 0.3s;
    scale:0;
    border-radius: 50%;
}
.circle-in p{
    text-align: center;
    font-size: 0.95vw;
    color: #000;
    font-weight: 300;
    width:60%;
    scale:0;
    transition: all ease 0.3s;
    transition-delay: 0.3s;
    opacity: 0;

}
.page3-circle1:hover .circle-in {
    scale:1;
}  

.page3-circle1:hover p{
    scale: 1;
    opacity: 1;

}

.page3-circle2:hover .circle-in {
    scale:1;
}  

.page3-circle2:hover p{
    scale: 1;
    opacity: 1;

}


#page4{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 5vh 0;
    color: black;
    /* margin-top: 20vw;
    margin-bottom: 15vw; */
}

#page4-content{
    width: 72vw;
    margin-left: 28%;
}

#page4-content h1{
    font-size: 7vw;
    text-transform: uppercase;
    position: relative;
} 

#page4-content h1::before{
        content: "03";
        position: absolute;
        font-size: 2.7vw;
        font-weight: 100;
        left: -12%;
        font-family: "silk serif";
        top: 8%;
} 

#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}

#page4-content > p{
    font-size: 2vw;
    width: 50%;
    margin-bottom: 3vw;

}

#page4-flex{
    display: flex;
}

#page4-flex img{
    width: 48%;
    height: 50%;
}

#page4-flex p{
    font-size: 0.9vw;
    width: 19%;
    margin-left: 1vw;
}

#page4-blue-div{
    background-color: #3F7DF4;
    width: 33vw;
    padding: 2vw;
    position: relative;
    margin-top: -45vh;
    margin-left: 26vw;
}

.blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5vw 0;
    border-bottom: 2px solid #ffffff94;
}

.blue-div-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}

.blue-div-elem p{
    width: 40%;
   font-size: 0.7vw;
}

#page5{
    min-height: 100vh;
    width: 100%;
    position: relative;
    /* padding: 5vw 0; */
}

.elem{
    /* background-color: red; */
  white-space: nowrap;
  overflow-x:hidden;
  margin-bottom: -2vw;
}

.elem h1{
    font-size: 6vw;
    -webkit-text-stroke:1px  #fff ;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: movingText;
    animation-duration:5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes movingText {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.elem2{
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}

.elem2 h1{
    font-size: 6vw;
    -webkit-text-stroke:1px  #fff ;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    /* transform: translateX(-100%); */
   animation-name: movingText;
   animation-duration: 10s;
   animation-timing-function:linear ;
   animation-iteration-count: infinite;
   animation-direction: reverse;
}

.elem span{   
    font-family:"silk serif";
    font-style: italic;
    color: transparent;
}

.elem2 span{   
    font-family:"silk serif";
    font-style: italic;
    color: transparent;
}

#footer{
    height: 85vh;
    width: 100%;
    position: relative;
    padding-left: 28vw;
    padding-right: 2vw;
    
}

#footer h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    position: relative;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 2.7vw;
    font-weight: 100;
    left: -12%;
    font-family: "silk serif";
    top: 8%;                  
}

.underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 3vw 0;
}

#footer-div{
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
}

#footer-div h6 {
    font-size: 0.9vw;
    margin-bottom: 1.5vw;
    font-weight: 500;
}

.box{
    width: 20%;
}

#footer-div h5 {
    font-size: 1.4vw;
    font-weight: 500;
    /* margin: 2vh 0; */
}

#footer>h5{
    font-weight: 500;
    font-size: 1vw;
}

._canvas_container{
z-index: 999999 !important;
pointer-events: none;
}

#flag{
    height: 24vw;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    opacity: 0;

}
 #hero3{
    /* background-color:red; */
    z-index: 999;
    position: relative;
 }

@media (max-width:600px){
    #page1{
        height: 60vh;
        width: 100%;
        /* background-color: #151515;   */
        position: relative;
        z-index: 100;
        padding-top: 1px;

    }
    
    #page1 #nav{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 4.3vw 5vw;
        position: fixed;
        width: 100%;
        top: 0;
      
    }
    
#nav svg{
     scale: 0.8;

}

    #nav-part2{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 3vw;
        display: none;
    }
    
    #nav-part2 h4{
        font-size: 0.8vw;
        font-weight: 500;
    }
    
    .hero{
    /* background-color: red; */
    width: 72%;
    margin-left: 5%;
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    }
    
    .hero:nth-child(2){
        margin-top: 25vh;
    }
    
    .hero h1{
        font-size: 9.8vw;
        font-weight: 600;
        text-transform: uppercase;
       line-height: 10.5vw;
       position: relative;
    }
    
    #hero1::before{
        content: "01";
        position: absolute;
        font-size: 5vw;
        font-weight: 100;
        font-family: "silk serif";
        left:5%;
        top: 35%;
        background-color: red;
    }
    
    .hero h2{
        font-size: 9.8vw;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 10.5vw;
        border-bottom: 0.6vw solid #fff;
        /* padding-bottom: 0.7vw; */
    }
    #page2{
        height: 58vh;
        width: 100%;
        padding-top: 6vh;
        position: relative;
    }
    
    /* #video-container img{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        top: 0;
    } */
    
    #video-container{
        height: 52vh;
        width: 100vw;
        position:relative;
        left: 0%;
        background-image: url("https://obys.agency/wp-content/uploads/2022/11/Showreel-2022-preview-1.jpg");
        background-size: cover;
        background-position: center;
    }
    
    #video-container video{
        height: 100%;
        width: 100%;
        object-fit: cover; 
        opacity: 0;   
    }
    
    #video-cursor{
        background-color:#FFA63D;
        height: 25vw;
        width: 25vw;
        border-radius:50%;
        position: absolute;  
        top:50%;
        left: 50%;
        transform: translate((-50%,-50%));
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
    }
    
    #video-cursor i{
        font-size: 5vw;
    }
    

    
#page3{
    position: relative;
    min-height: 100vh;
    width: 100%;
    /* background-color:rgb(63, 62, 62); */
    padding:17vh 3vw 0 3vw;
    margin-bottom: 0vh;
    margin-top: 0vh;
}

#page3 h1{
    font-size: 9.5vw;
    text-transform: uppercase;
    position: relative;
    margin-left: 2vw;
    margin-bottom: 5vw;

} 

#page3 h1::before{
        content: "02";
        position: absolute;
        font-size: 5vw;
        font-weight: 100;
        left: 0%;
        font-family: "silk serif";
        top: -56%;
} 

#page3 .underline{
    margin-left: 2vw ;
    width: 94%;
}
#image-div-container{
    /* background-color: red; */
    padding: 1vw;
    margin-top: 10vw;
    position: relative;
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.image-div{
    height: 110vw;
    width: 90vw;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 2vw;
    margin-bottom: 8vw;
    /* background-color: blue; */

}

.image-div:nth-child(1){
    height: 110vw;
    width: 90vw;
}

.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center; 
    position: relative;
    overflow: hidden;  
}


.page3-circle1{
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-left: 10vw;
    flex-shrink: 0;
    position: relative;
    display: none;


}

.page3-circle1 svg{
    height: 50%;
    color: white;

}
.page3-circle2{
    height: 20vw;
    width: 20vw;
    border: 2px solid #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin-top: 20vh; */
    /* margin-left: 10vw; */
    display: none;

}

.page3-circle2 svg{
    height: 50%;
    rotate: -45deg;
    color: white;

}

.circle-in{
    height:100%;
    width:100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    /* color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
   transition: all ease 0.3s;
    scale:0;
    border-radius: 50%;
}
.circle-in p{
    text-align: center;
    font-size: 0.95vw;
    color: #000;
    font-weight: 300;
    width:60%;
    scale:0;
    transition: all ease 0.3s;
    transition-delay: 0.3s;
    opacity: 0;

}
.page3-circle1:hover .circle-in {
    scale:1;
}  

.page3-circle1:hover p{
    scale: 1;
    opacity: 1;

}

.page3-circle2:hover .circle-in {
    scale:1;
}  

.page3-circle2:hover p{
    scale: 1;
    opacity: 1;

}



#page4{
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 10vh 5vw;
    color: black;

   
}

#page4-content{
    width: 90vw;
    margin-left: 0%;
    position: relative;
}

#page4-content h1{
    font-size: 9vw;
    text-transform: uppercase;
    position: relative;
} 

#page4-content h1::before{
        content: "03";
        position: absolute;
        font-size: 2.7vw;
        font-weight: 100;
        left: -12%;
        font-family: "silk serif";
        top: 8%;
} 

#page4-content .underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0 10vw 0;
}

#page4-content > p{
    font-size: 5vw;
    width: 90%;
    margin-bottom: 3vw;

}

#page4-flex{
    display: flex;
    flex-direction: column;
}

#page4-flex img{
    width: 100%;
    margin: 5vw 0 8vw 0;
    /* height: 50%; */
}

#page4-flex p{
    font-size: 4vw;
    width: 90%;
    margin-left: 0vw;
    margin-bottom: 5vw;
}

#page4-blue-div{
    background-color: #3F7DF4;
    width: 90vw;
    padding: 5vw;
    padding-bottom: 15vw;
    position: relative;
    margin-top: 0vh;
    margin-left: 0vw;
}

.blue-div-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4.7vw 0;
    border-bottom: 2px solid #ffffff94;
}

.blue-div-elem h4{
    font-size: 3.8;
    font-weight: 500;
}

.blue-div-elem p{
    width: 50%;
   font-size: 3.5vw;
}

#page4-content underline:nth-last-child(1){
    margin: 23vw 0 7vw 0;
}


#page5{
    min-height: 60vh;
    width: 100%;
    position: relative;
    /* padding: 5vw 0; */
}

.elem{
    /* background-color: red; */
  white-space: nowrap;
  overflow-x:hidden;
  margin-bottom: -2vw;
}

.elem h1{
    font-size: 12vw;
    -webkit-text-stroke:1px  #fff ;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: movingText;
    animation-duration:15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes movingText {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.elem2{
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}

.elem2 h1{
    font-size: 12vw;
    -webkit-text-stroke:1px  #fff ;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    /* transform: translateX(-100%); */
   animation-name: movingText;
   animation-duration: 20s;
   animation-timing-function:linear ;
   animation-iteration-count: infinite;
   animation-direction: reverse;
}

.elem span{   
    font-family:"silk serif";
    font-style: italic;
    color: transparent;
}

.elem2 span{   
    font-family:"silk serif";
    font-style: italic;
    color: transparent;
}

#footer{
    height: 109vh;
    width: 100%;
    position: relative;
    padding: 4vw 4vw;
    padding-bottom: 5vw;
    
}

#footer h1{
    font-size: 9.7vw;
    text-transform: uppercase;
    position: relative;
}

#footer h1::before{
    content: "04";
    position: absolute;
    font-size: 5vw;
    font-weight: 100;
    left: 0%;
    font-family: "silk serif";
    top: -68%;                  
}

.underline{
    height: 1px;
    width: 100%;
    background-color: #fff;
    margin: 7vw 0;
}

#footer-div{
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-right: 15vw;
    padding-top: 4vw;
    flex-direction: column;

}

#footer-div h6 {
    font-size: 4.9vw;
    margin-bottom: 3.5vw;
    font-weight: 500;
}

.box{
    width: 30%;
    margin-bottom: 5vw;
}

#footer-div h5 {
    font-size: 5.4vw;
    font-weight: 500;
    margin-bottom:1.5vw ;
    /* margin: 2vh 0; */
}

#footer>h5{
    font-weight: 500;
    font-size: 4vw;
    margin-bottom: 4vw;
}


  
}














